@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");

.projectImage img {
  max-width: 500px;
  max-height: 500px;
  text-align: center;
}

.projectImage h3 {
  font-weight: bolder !important;
  font-size: 20px;
  font-family: Sora;
}
